body{
    background-color: white;
    color: black;
}


.dark-mode{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
}

button{
    display: block;
    margin: 0 auto;
}